/* Copyright 2026 closeencoders.com - All Rights Reserved */
:root {
  --muted: #828282;
  --line: #eaeaea;
  --accent: #353737;
  --accent-light: #E1E8F0;
  --accent-soft: #F5F5DC;
  --bg-color: #1A1A1B;
  --alt-text-color: #dad9d9;
  --text-color: #e3e3e3;

  --active: #f9f9f9;
  --active-effect: 0 0 6px var(--active);
  --hyper-active-effect:
    0 0 7px var(--active),
    0 0 10px var(--active),
    0 0 20px var(--active),
    0 0 40px var(--active);

  --max-width: 80rem;
  --read-width: 42rem;
  --top-nav-height: 60px;
  --mobile-font-size: 18px;
  --desktop-font-size: 20px;
  --sub-font-size: 17px;
  --code-font-size: 14px;

  --default-font: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  --heading-font: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  scrollbar-gutter: stable;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--default-font);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}
p, ul, ol {
  font-size: var(--desktop-font-size);
  line-height: 32px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: var(--heading-font);
  font-variant-ligatures: common-ligatures;
  letter-spacing: -0.06em;
  word-spacing: -0.03em;
}
h1 {
  font-size: clamp(2.4rem, 8vw, 3.2rem);
}
h2 {
  font-size: clamp(2rem, 8vw, 2.3rem);
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.50rem;
}
h5 {
  font-size: 1.40rem;
}
h6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}
a {
  color: inherit;
  text-decoration: none;
}
blockquote {
  margin: 0.5rem 1.0rem;
  padding: 0.3rem 1.2rem;
  border-left: 2px solid var(--accent);
}
blockquote p {
  margin: 0.25rem 0;
}

.wrap {
  max-width: var(--max-width);
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header {
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100;
}

.logo img {
  height: var(--top-nav-height);
  width: auto;
  display: block;
}
.top-nav {
  font-family: var(--heading-font);
  font-size: 0.9rem;
  display: flex;
  height: var(--top-nav-height);
}
.top-nav-constant {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.top-nav-items {
  display: flex;
  align-items: center;
  gap: 18px;
}
.top-nav .btn,
.top-nav-items .btn {
  width: 2rem;
  height: 2rem;
}

.active {
  color: var(--active);
  text-shadow: var(--active-effect);
  position: relative;
}
.active .cursor {
  position: absolute;
  width: 9px;
  height: 80%;
  background-color: var(--active);
  right: -11px;
  bottom: 3px;
  animation: blink 800ms step-end infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.mobile-nav-burger {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

@media (max-width: 721px) {

  p, ul, ol {
    font-size: var(--mobile-font-size)
  }

  .top-nav-constant {
    width: 100%;
    margin-right: 0;
  }
  .mobile-nav-burger {
    display: flex;
    margin-left: auto;
  }

  #top-nav-items {
    display: none;
    position: absolute;
    top: var(--top-nav-height);
    left: 0;
    width: 100%;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
    gap: 0.8rem;
    background-color: var(--bg-color);
    border-bottom: var(--accent) 1px solid;
  }
  #top-nav-items.is-active {
    display: flex !important;
  }
  .nav-item {
    padding-left: 10px;
    text-align: center;
  }
}

/* CONTENT - Copyright 2026 closeencoders.com - All Rights Reserved */
.post-header {
  width: 100%;
  padding-bottom: 1rem;
}
.post-header p,
.post-header h1 {
  margin: 0;
  padding: 0 0 1.3rem;
}
.post-header p {
  font-style: oblique;
  line-height: 1.2;
}
.post-header figure {
  padding: 0;
  margin: 0;
}
.post-hero,
.post-hero img {
  width: 100%;
  display: block;
}
.post-hero {
  overflow: hidden;
}
.post-hero img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.read-content {
  min-width: 10px;
  max-width: var(--read-width);
}
.read-content img {
  width: 100%;
}

.section a {
  color: var(--accent-light);
  text-decoration: underline;
}
.section a:hover {
  color: var(--active);
  text-shadow: var(--active-effect);
}

.site-footer {
  padding: 4rem 0;
  bottom: 0;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  display: flex;
  margin: 10px;
  gap: 1rem;
}
.social-icon {
  width: 1rem;
  box-shadow: 0 0 0 1px var(--accent);
  margin: 0;
  padding: 6px;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}
.social-icon:hover path {
  fill: var(--active);
}
.social-icon:hover {
  box-shadow: var(--active-effect);
}

.rights {
  font-size: 0.9rem;
  color: var(--muted);
  text-align: center;
  width: 100%;
}
.rights a {
  text-decoration: underline;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.note-info::before {
  content: "💡";
}

@media (max-width: 720px) {
  .post-subtitle {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
  }
}

/* PAGES - Copyright 2026 closeencoders.com - All Rights Reserved */
.posts-na,
.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 0.4rem;
  color: var(--alt-text-color);
}
.posts>*:first-child {
  height: 100%;
  column-width: 2;
  grid-column: span 2;
  grid-row: span 2;
}
.post-card-image-container {
  display: block;
  aspect-ratio: 16/9;
}
.post-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.post-card {
  content-visibility: auto;
}
.post-card :is(p, h2, h3) {
  margin: .4rem 0 0;
  line-height: 1.1;
}
.post-card h2, h3 {
  font-size: 1.4rem;
}
.post-card p {
  color: var(--alt-text-color);
  font-size: var(--sub-font-size);
}
.posts>*:first-child :is(h2, h3) {
  font-size: 46px;
}
.posts>*:first-child p {
  font-size: 24px;
}
.post-card:hover :is(h2, h3) {
  color: var(--active);
  text-decoration: underline;
}

.read-page {
  min-width: 10px;
  max-width: var(--read-width);
  margin: auto;
}
.read-page img {
  width: 100%;
}

@media (max-width: 950px) {
  .posts>*:first-child :is(h2, h3) {
    font-size: 1.4rem;
  }
  .posts a {
    width: 100%;
  }
  .posts>*:first-child p {
    font-size: var(--sub-font-size);
  }
  .posts>*:first-child {
    grid-column: auto;
    grid-row: auto;
  }
  .posts-na,
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .post-card:hover,
  .post-card:hover :is(img, span, h2, h3) {
    color: var(--text-color);
    text-shadow: none;
    text-decoration: none;
    animation: none;
    transform: none;
    transition: none;
  }
}

@media (max-width: 650px) {
  .posts-na,
  .posts {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.banner {
  height: clamp(210px, 25vh, min(30vw, 30rem));
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner h1 {
  color: var(--active);
  text-shadow: var(--hyper-active-effect);
  margin: 0;
  font-size: clamp(2.5rem, 8vw, 4rem);
  animation:
    flicker 2.17s linear infinite,
    sputter 7.53s linear infinite;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.95;
  }
  51% {
    opacity: 0.8;
  }
  52% {
    opacity: 1;
  }
}

@keyframes sputter {
  0%, 94%, 100% {
    transform: skew(0);
    filter: blur(0);
  }
  95% {
    transform: skew(3deg);
    filter: blur(3px);
  }
  96% {
    transform: skew(-3deg);
  }
}

.tab-button p,
.banner p,
.banner a {
  margin: 0;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}
.tab-button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}
.tab-button {
  display: flex !important;
  padding: 8px !important;
  justify-content: center;
  background: var(--bg-color);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
}
.active-tab,
.tab-button:hover {
  box-shadow: var(--active-effect);
  color: var(--active);
}

.item-left,
.item-right,
.title-divider {
  margin: 0;
  padding: 0;
}
.item-left,
.item-right {
  margin-bottom: 5px;
}
.item-left {
  margin-right: auto;
}
.title-divider {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 25px;
  border-bottom: 1px solid var(--accent);
}
.title-divider :is(h1, h2, p, span, a) {
  margin-bottom: 0;
  padding-bottom: 0;
}

/*
Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
*/
.hljs {
  color: #abb2bf;
  background: #282c34
}
.hljs-keyword,
.hljs-operator {
  color: #F92672
}
.hljs-pattern-match {
  color: #F92672
}
.hljs-pattern-match .hljs-constructor {
  color: #61aeee
}
.hljs-function {
  color: #61aeee
}
.hljs-function .hljs-params {
  color: #A6E22E
}
.hljs-function .hljs-params .hljs-typing {
  color: #FD971F
}
.hljs-module-access .hljs-module {
  color: #7e57c2
}
.hljs-constructor {
  color: #e2b93d
}
.hljs-constructor .hljs-string {
  color: #9CCC65
}
.hljs-comment,
.hljs-quote {
  color: #b18eb1;
  font-style: italic
}
.hljs-doctag,
.hljs-formula {
  color: #c678dd
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75
}
.hljs-literal {
  color: #56b6c2
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}
.hljs-link {
  text-decoration: underline
}

pre {
  overflow: hidden;
}
.note-info,
pre code.hljs {
  font-size: var(--code-font-size);
  display: block;
  overflow: auto;
  height: 100%;
  padding: 15px;
  background: none;
  border: 1px dashed var(--accent);
}

.content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0;
  gap: 1rem;
}
.side-car-container {
  position: sticky;
  top: 0;
  justify-content: start;
  align-items: flex-start;
  padding-top: 15px;
  padding-left: 5px;
  min-width: 150px;
  max-width: 350px;
}
.table-of-contents-container a:hover {
  color: var(--active);
  text-decoration: underline;
}
.table-of-contents-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 9px;
  border-left: 1px dashed var(--accent);
  font-size: var(--sub-font-size);
  height: auto;
}
.table-of-contents-container li {
  padding: 7px 0;
  line-height: 1;
}
#backToTop {
  display: none;
  bottom: 20px;
  right: 30px;
  border: 1px dashed var(--accent);
  outline: none;
  background: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  font-size: var(--sub-font-size);
}
/* closeencoders.com */